body {
	background-color: #f0ebeb;
	color:#333333;
	margin:0;
}
.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	text-align:center;
}


.header{
	width: 550px;
    margin: auto;
    padding-top:10px;
}
.header h2{
	text-align:center;
	margin:0 0 8px 0;
	color:#555;
}
.loginForm{
    width: 300px;
    height: 200px;
    margin: auto;
    padding-top: 10px;
    background-color:white;
}
label {
	display: block;
	margin-top:20px;
}
input#submit{
	margin-top: 20px;
}

.form-area {
    margin: auto;
    padding: 10px 0 10px 0;
    width: 560px;
    background-color: #a6cb12;
    border: solid 4px #e00543;
    border-radius: 5%;
}


.copyright {
	width: 250px;
	margin: 0 auto;
	font-size:10px;
	text-align:center;
}


.errorMessages {
	color: red;
	text-align:center;
	margin-bottom: 10px;
}
.errorMessages ul {
	list-style:none;
	font-size:15px;
	margin: 0;
	font-weight:bold;
}