body {
	background-color: #f0ebeb;
	color:#333333;
	margin:0;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0ebeb;
	height: 100%;
	width: 650px;
}

.menu{
	text-align: right;
	width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #f89174;
    padding: 15px 0;
    opacity: 0.9;}
.menu a {
	text-decoration: none;
    margin: 0 40px;
    color:white;
}
.header h2{
	text-align: center;
    padding-top: 60px;
    color:#555;
}
.narrowDownForm {
    height: 50px;
    width: 550px;
    margin: auto;
    padding-top:20px;
}
.count{
	clear:both;
	text-align:center;
	color:#666;
}
.post-wrapper{
	clear: both;
    border: solid 9px #f1c550;
    border-radius: 5%;
    width: 620px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
}
.date {
	float:left;
    padding-right: 10px;
}
.message {
    width: 580px;
    margin: auto;
    padding-bottom: 20px;
}

.message .content{
	font-size:18px;
	margin:auto;
}

.category{
	font-size:13px;
}
p{
    margin: 0;
    display: inline;
    padding: 0 7px;
    font-weight: bold;
    border: solid 1px gray;
}


pre {
	white-space: pre-wrap ;
	margin-top:5px;
}
.deleteMessage{
	text-align:right;
	margin-right: 20px;
}
.comment {
	margin: 20px 0;
	border-top: solid 1px;
}
.comments {
	width: 580px;
	margin:auto;
}
.name {
    text-align: right;
    color: #ea4c4c;
    font-weight: bold;
    font-size: 15px;
}

.newCommentForm{
    width: 580px;
    margin: auto;
    clear: both;
    padding: 10px 0;
    border-top: 1px solid;
}
.submitButton{
	text-align:right;
	margin-right:20px;
    margin-top: 8px;
}

h3.title {
    margin: 20px 0 0 0;
    border-bottom: dotted 3px;
    color: #ea4c4c;
}
.tweet-box {
    margin: auto;
    width: 580px;
    height: 56px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}
span.name{
	display: block;
    font-size: 15px;
    text-align:right;
    color: #ea4c4c;
    font-weight:bold;
}
.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
.comment .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
.copyright {
	text-align:center;
}
.deleteComment{
    text-align: right;
    margin-right: 20px;
    margin-top: 8px;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
    text-align: center;
}
ul{
	list-style: none;
	margin:0;
	font-weight:bold;
}
.return {
	margin:8px;
	text-align:center;
	display: block;
	padding-top: 15px;
}