body {
	background-color: #f0ebeb;
	color:#333333;
	margin:0;
}

.menu{
	text-align: right;
	width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #f89174;
    padding: 15px 0;
    opacity: 0.9;}
.menu a {
	text-decoration: none;
    margin: 0 40px;
    color:white;
}
.header h2{
	text-align: center;
    padding-top: 60px;
    color:#555;
}
.header{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555;
}

form {
	padding-top:5px;
    padding-bottom: 15px;
}

select#branch{
	width:100px;
}
select#department{
	width:100px;
}
input#submit {
    display: inline-block;
    padding: 3px 5px;
    width: 55px;
    margin-top: 15px;
    font-size: 12px;
}
.footer{
	width: 400px;
    margin: auto;
    padding-top:5px;
}
.footer a{
	display: inherit;
    text-align: center;
}
.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
	font-size:10px;
	text-align:center;
}

label {
	display: block;
	margin-top:10px;
}


.errorMessages {
	color: red;
	text-align:center;
}
.errorMessages ul {
	list-style:none;
	font-size:13px;
	margin: 0;
	font-weight:bold;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
    border: solid 2px;
    background-color: white;
	height: 100%;
	width: 400px;
	text-align:center;
}