body {
	background-color: #f0ebeb;
	color:#333333;
	margin:0;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	text-align:center;
}

.menu{
	text-align: right;
	width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #f89174;
    padding: 15px 0;
    opacity: 0.9;}
.menu a {
	text-decoration: none;
    margin: 0 40px;
    color:white;
}
.header h2{
	text-align: center;
    padding-top: 60px;
    color:#555;
}
.user {
	background-color:white;
    width: 800px;
    margin: auto;
    margin-top:20px;
}

input{
	width:60px;
}

form {
padding-top:5px;
}

p{
	margin:5px 0 0 0;
}


.copyright {
	width: 250px;
	margin: 0 auto;
	font-size:10px;
	text-align:center;
}

label {
	display: block;
	margin-top:10px;
}

.errorMessages {
	color: red;
	text-align:center;
}
.errorMessages ul {
	list-style:none;
	font-size:13px;
	margin: 0;
	font-weight:bold;
}